.modals {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.modals--active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-scrollable {
  overflow: hidden;
}

.modals__container {
  position: absolute;
  display: none;
  min-width: 630px;
  min-height: 339px;
  background-color: #fff;
}

.modals__container--active {
  display: block;
}

.modals__header {
  display: flex;
  justify-content: flex-end;
}

.modals__close {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  margin-right: 20px;
  right: 0;
  width: 27px;
  height: 27px;
  cursor: pointer;
}

.modals__close::before,
.modals__close::after {
  position: absolute;
  display: block;
  content: "";
  top: calc(50% - 1px);
  left: 0;
  width: 130%;
  height: 1px;
  background-color: #000;
  transform: rotate(45deg);
}

.modals__close::after {
  transform: rotate(-45deg);
}

.modals__content {
  display: flex;
  justify-content: center;
}

/* modals*/
.modals__content {
  margin-right: 80px;
  margin-left: 80px;
}

.modals__content--feedback {
  margin-top: 10px;
  margin-bottom: 50px;
}

.form {
  width: 100%;
  text-align: center;
}

.form:invalid .modals__btn {
  background-color: #e7d2b7;
  cursor: not-allowed;
}

.form:invalid .modals__btn:hover {
  box-shadow: none;
}

.form__item {
  margin-bottom: 8px;
  padding: 10px;
  width: 100%;
  border: 1px solid #9ca498;
}

.form__item--colored {
  background-color: #dff5b0;
}

.form__item:-webkit-autofill {
  background-color: #dff5b0;
}

.form__item--feedback {
  margin-bottom: 0;
  height: 180px;
  resize: none;
}

.modals__btn {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modals__feedback-btn {
  margin-top: 15px;
}

/* ---------------------------- */
.modals__header--donate {
  margin-bottom: 18px;
}

.form__item-list {
  padding: 8px;
  text-align-last: center;
  appearance: none;
  background: no-repeat 98% url("../assets/icons/arrow.svg");
  background-color: #dff5b0;
}

select option {
  text-align: center;
  margin-top: 12px;
}

.form__money {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__donate-sum {
  margin-right: 8px;
  width: 65%;
  line-height: 19px;
}

.form__currency {
  padding: 10px;
  width: 35%;
  text-align-last: center;
  appearance: none;
  text-transform: uppercase;
  border: 1px solid #9ca498;
  cursor: pointer;
}

.form__item--text-donate {
  margin-bottom: 0;
  height: 85px;
  resize: none;
}

/* ----------------------------- */
.modals__content--pay {
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 40px;
}

.modals__header--pay {
  margin-bottom: 10px;
}

.modals__content--pay .form__item::-webkit-inner-spin-button,
.modals__content--pay .form__item::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.modals__content--pay .form__item:focus::-webkit-input-placeholder {
  visibility: hidden;
}

.form__card {
  width: 358px;
  height: 203px;
  border-radius: 10px;
  background-color: #dcdcdc;
}

.form__cards-wrapper {
  position: relative;
  padding-bottom: 36px;
}

.form__card-front {
  position: relative;
  padding-top: 35px;
  padding-right: 26px;
  padding-bottom: 35px;
  padding-left: 26px;
  display: flex;
  flex-wrap: wrap;
  z-index: 101;
}

.form__card-underside {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 326px;
  height: 189px;
  background-color: #c6c5c5;
  z-index: 100;
}

.form__card-underside::before {
  position: absolute;
  display: block;
  content: "";
  top: 28px;
  left: 0;
  width: 100%;
  height: 37px;
  background-color: #a8a8a8;
}

.modals__content--pay .form__item {
  width: 100%;
}

.form__central-item {
  position: relative;
  text-align: center;
  z-index: 101;
}

.modals__content--pay .form__short-item {
  margin-right: 5px;
  width: 80px;
}

.form__cvv {
  position: absolute;
  width: 100%;
  height: 35px;
  top: 73px;
  background: linear-gradient(
    180deg,
    rgba(168, 168, 168, 1) 0%,
    rgba(168, 168, 168, 1) 14.2%,
    rgba(0, 0, 0, 0) 14.2%,
    rgba(0, 0, 0, 0) 28.4%,
    rgba(168, 168, 168, 1) 28.4%,
    rgba(168, 168, 168, 1) 42.6%,
    rgba(0, 0, 0, 0) 42.6%,
    rgba(0, 0, 0, 0) 56.8%,
    rgba(168, 168, 168, 1) 56.8%,
    rgba(168, 168, 168, 1) 71%,
    rgba(0, 0, 0, 0) 71%,
    rgba(0, 0, 0, 0) 85.2%,
    rgba(168, 168, 168, 1) 85.2%,
    rgba(168, 168, 168, 1) 100%
  );
}

.modals__content--pay .form__cvv-item {
  position: absolute;
  margin-bottom: 0;
  padding: 8px;
  width: 75px;
  right: 36px;
}
