@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.eot");
  src: local("☺"), url("../../assets/fonts/Roboto-Regular.woff") format("woff"),
    url("../../assets/fonts/Roboto-Regular.ttf") format("truetype"),
    url("../../assets/fonts/Roboto-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Medium.eot");
  src: local("☺"), url("../../assets/fonts/Roboto-Medium.woff") format("woff"),
    url("../../assets/fonts/Roboto-Medium.ttf") format("truetype"),
    url("../../assets/fonts/Roboto-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Black.eot");
  src: local("☺"), url("../../assets/fonts/Roboto-Black.woff") format("woff"),
    url("../../assets/fonts/Roboto-Black.ttf") format("truetype"),
    url("../../assets/fonts/Roboto-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SceneW01-Black";
  src: url("../../assets/fonts/Roboto-Black.eot");
  src: local("☺"), url("../../assets/fonts/SceneW01-Black.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #a7e1ff;
}

.container {
  margin: 0 auto;
  width: 1160px;
}

.btn {
  padding-top: 15px;
  padding-right: 60px;
  padding-bottom: 15px;
  padding-left: 60px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  background-color: #70cb0e;
  transition: all ease-out 0.3s;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 30px #ffc800;
}

.link {
  text-decoration: underline;
  color: #267bde;
  cursor: pointer;
}

/* Header */
.container--header {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 57px;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 35px;
  transition: all ease-out 0.2s;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-item:hover {
  transform: translate(0px, -2px);
}

.header__nav-link {
  font-size: 18px;
  font-weight: 500;
}

.header__nav-item--active:hover {
  transform: none;
}

.header__nav-item--active > .header__nav-link {
  text-shadow: 0px 0px 3px #70cb0e;
  cursor: default;
}
