@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.eot");
  src: local("☺"), url("../../assets/fonts/Roboto-Regular.woff") format("woff"),
    url("../../assets/fonts/Roboto-Regular.ttf") format("truetype"),
    url("../../assets/fonts/Roboto-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Medium.eot");
  src: local("☺"), url("../../assets/fonts/Roboto-Medium.woff") format("woff"),
    url("../../assets/fonts/Roboto-Medium.ttf") format("truetype"),
    url("../../assets/fonts/Roboto-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Black.eot");
  src: local("☺"), url("../../assets/fonts/Roboto-Black.woff") format("woff"),
    url("../../assets/fonts/Roboto-Black.ttf") format("truetype"),
    url("../../assets/fonts/Roboto-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SceneW01-Black";
  src: url("../../assets/fonts/Roboto-Black.eot");
  src: local("☺"), url("../../assets/fonts/SceneW01-Black.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #a7e1ff;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
}

.container--map {
  position: relative;
}

.btn {
  padding-top: 15px;
  padding-right: 60px;
  padding-bottom: 15px;
  padding-left: 60px;
  font-size: 1.125rem;
  border: none;
  border-radius: 30px;
  background-color: #70cb0e;
  transition: all ease-out 0.3s;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 30px #ffc800;
}

.link {
  text-decoration: underline;
  color: #267bde;
  cursor: pointer;
}

/* Header */
.container--header {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 57px;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 35px;
  transition: all ease-out 0.2s;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-item:hover {
  transform: translate(0px, -2px);
}

.header__nav-link {
  font-size: 1.125rem;
  font-weight: 500;
}

.header__nav-item--active:hover {
  transform: none;
}

.header__nav-item--active > .header__nav-link {
  text-shadow: 0px 0px 3px #70cb0e;
  cursor: default;
}

.header__burger {
  display: none;
}

/* map */
.map__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}

.map {
  margin: 0 auto;
  /* padding-top: 95px; */
  padding-bottom: 95px;
  position: relative;
  overflow-x: hidden;
}

.map__main-title {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -1;
}

.map__bg {
  position: relative;
  width: 1162px;
  height: calc(100vh - 100px);
  /* background: no-repeat center url(../../assets/images/map/map.png); */
}

.map__img {
  position: absolute;
  width: 100%;
  transition: transform ease 0.3s;
  user-select: none;
}

.map__item {
  position: absolute;
  top: 0;
}

/* ---------------------- */
.map__caption {
  max-width: 60px;
  text-align: center;
}

.map__usa {
  text-transform: uppercase;
  top: 380px;
  left: 202px;
}

.map__drc {
  top: 525px;
  left: 510px;
  font-size: 1.125rem;
}

.map__china {
  top: 393px;
  left: 832px;
}

/* ---------------------- */
.map__mark-eagle {
  top: 394px;
  left: 147px;
}

.map__mark-alligator {
  top: 397px;
  left: 272px;
}

.map__mark-gorilla {
  top: 510px;
  left: 620px;
}

.map__mark-panda {
  top: 400px;
  left: 890px;
}

/* ---------------------- */
.map__item--active .map__animal-pic {
  border: 4px solid #70cb0e;
}

.map__item--active .map__animal-name {
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
  max-width: 111px;
  background-color: #70cb0e;
}

.map__item--animal {
  position: absolute;
  display: flex;
  align-items: center;
}

.map__animal-pic {
  margin-left: 8px;
  margin-right: 8px;
  width: 64px;
  height: 64px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.map__animal-name {
  max-width: 64px;
  text-align: center;
  text-transform: uppercase;
}

.map__item--animal:hover .map__animal-pic {
  border: 4px solid #70cb0e;
}

.map__item--animal:hover .map__text {
  opacity: 0;
}

.map__item--animal:hover .map__animal-name::before,
.map__item--animal:hover .map__animal-name::after {
  display: block;
}

.map__animal-name--country {
  text-transform: none;
}

.map__item--eagle {
  top: 397px;
  left: 20px;
}

.map__item--alligator {
  top: 407px;
  left: 294px;
}

.map__item--gorilla {
  top: 505px;
  left: 650px;
}

.map__item--panda {
  top: 409px;
  left: 915px;
}

/* ---------------------- */
.map__scale--wrapper {
  position: sticky;
  margin-bottom: 100px;
  width: 0;
  /* нулевая ширина, чтобы не вытеснял карту */
  height: 80px;
  bottom: 20px;
}

.map__scale {
  position: absolute;
  width: 32px;
  height: 80px;
  bottom: 0;
  right: 20px;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.map__minus,
.map__plus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  user-select: none;
}

.map__plus {
  font-size: 20px;
  border-top: 1px solid #000;
}

/* tooltip */
.tooltip {
  position: absolute;
  padding-top: 7px;
  padding-right: 11px;
  padding-bottom: 7px;
  padding-left: 11px;
  display: none;
  top: 0;
  left: 0;
  margin-left: 80px;
  min-width: 120px;
  text-align: center;
  background-color: #70cb0e;
}

.tooltip__text {
  margin-bottom: 5px;
}

.tooltip__animal {
  display: block;
  text-transform: uppercase;
}

.tooltip__btn {
  padding-top: 9px;
  padding-right: 21px;
  padding-bottom: 10px;
  padding-left: 22px;
  display: none;
  background-color: #ffb600;
}

.tooltip__btn:hover {
  box-shadow: 0 0 10px #ffc800;
}

.tooltip::before {
  position: absolute;
  margin-top: -4px;
  margin-left: -15px;
  display: block;
  content: "";
  top: 50%;
  left: 0;
  border: 5px solid transparent;
  border-right: 12px solid #70cb0e;
}

.tooltip--left {
  left: -125%;
}

.tooltip--left::before {
  margin-left: 100%;
  border-right: none;
  border-left: 12px solid #70cb0e;
}

.map__item:hover .tooltip {
  display: block;
}

/* footer */
.footer {
  padding-top: 80px;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
  font-size: 1.125rem;
  line-height: 21px;
  background-color: #dff5b0;
}

.footer__content {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.footer__left-side {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__btn {
  margin-right: 50px;
  padding-left: 28px;
  padding-right: 28px;
  max-height: 50px;
}

.footer__btn--tablet {
  display: none;
}

/* ---------------------- */
.footer__right-side {
  display: flex;
  justify-content: space-between;
  width: 49%;
}

.footer__nav {
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.footer__nav-item {
  transition: all ease-out 0.3s;
}

.footer__nav-item:hover {
  transform: translate(0px, -2px);
}

.footer__nav-item:first-child {
  margin-bottom: 15px;
}

/* ---------------------- */
.footer__media {
  display: flex;
}

.footer__media-item {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all ease-out 0.3s;
}

.footer__media-item:hover {
  transform: translate(0px, -10px);
}

.footer__media-item:first-child {
  margin-left: 0;
}

.footer__facebook {
  background-image: url("../../assets/icons/facebook.svg");
}

.footer__instagram {
  background-image: url("../../assets/icons/insta.svg");
}

.footer__twitter {
  background-image: url("../../assets/icons/twitter.svg");
}

.footer__youtube {
  background-image: url("../../assets/icons/youtube.svg");
}

/* ---------------------- */
.footer__rights {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.footer__rights-info {
  display: flex;
  justify-content: space-between;
  width: 68%;
}

.footer__yem {
  margin-right: 10px;
}

/* ---------------------- */
.footer__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -20px;
  z-index: -1;
}

/*adaptive*/
@media (max-width: 1200px) {
  .container--map {
    margin: 0 calc((100% - 1162px) / 2);
    position: relative;
  }

  /* footer */
  .footer__content {
    margin-bottom: 70px;
  }
}

@media (max-width: 1199px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }
}

@media (max-width: 992px) {
  /* footer */
  .footer__content {
    flex-wrap: wrap;
  }

  .footer__btn {
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  /* footer */
  .footer__content {
    margin-bottom: 50px;
  }

  .footer__btn {
    display: none;
  }

  .footer__btn--tablet {
    margin: 0;
    padding-left: 17px;
    padding-right: 17px;
    display: block;
  }

  .footer__logo {
    margin-right: 10px;
  }

  .footer__right-side {
    width: 75%;
  }

  .footer__nav {
    width: 32%;
  }

  .footer__rights {
    flex-wrap: wrap;
    text-align: center;
  }

  .footer__rights-info {
    margin-top: 50px;
    flex-wrap: wrap;
    width: 100%;
  }

  .footer__author {
    margin-bottom: 10px;
    order: 1;
    width: 100%;
  }

  .footer__copyright {
    order: 2;
    width: 100%;
  }
}

@media (max-width: 640px) {
  .container--map {
    margin: 0 calc((13% - 640px) / 2);
  }

  .main {
    overflow: hidden;
  }

  /* map */
  .map {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .map__bg {
    background: no-repeat center url(../../assets/images/map/map--tablet.png);
  }

  .map__item--eagle {
    top: 397px;
    left: 160px;
  }

  .map__item--alligator {
    top: 385px;
    left: 371px;
  }

  .map__item--gorilla {
    top: 465px;
    left: 652px;
  }

  .map__item--panda {
    top: 382px;
    left: 866px;
  }

  .map__mark {
    transform: scale(0.8);
  }

  .map__mark-eagle {
    left: 230px;
  }

  .map__mark-alligator {
    top: 392px;
    left: 348px;
  }

  .map__mark-gorilla {
    top: 482px;
    left: 628px;
  }

  .map__mark-panda {
    top: 393px;
    left: 845px;
  }

  .map__usa {
    top: 375px;
    left: 291px;
  }

  .map__drc {
    top: 503px;
    left: 532px;
  }

  .map__china {
    left: 796px;
  }

  /* tooltip */
  .tooltip {
    margin-top: -15px;
    min-width: 170px;
  }

  .tooltip__btn {
    display: block;
  }

  .tooltip__btn:hover {
    box-shadow: 0 0 10px #ffc800;
  }

  .tooltip::before {
    margin-top: -4px;
    margin-left: -15px;
    top: 50%;
    left: 0;
  }

  .tooltip--left {
    left: -159%;
  }

  .tooltip--left::before {
    margin-left: 100%;
  }

  /* header */
  .header__logo {
    margin-right: 50px;
  }

  /* header */
  .header__nav-list {
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container--header {
    justify-content: space-between;
  }

  /* header */
  .header {
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    margin-right: 30px;
  }

  .header__nav-list {
    display: none;
  }

  .header__nav-item {
    margin-bottom: 5px;
  }

  .header__burger {
    margin-bottom: 10px;
    position: relative;
    display: block;
    width: 36px;
    height: 2px;
    background-color: #000;
    cursor: pointer;
  }

  .header__burger::before {
    position: absolute;
    display: block;
    content: "";
    top: -10px;
    width: 36px;
    height: 2px;
    background-color: #000;
  }

  .header__burger::after {
    position: absolute;
    display: block;
    content: "";
    bottom: -10px;
    width: 36px;
    height: 2px;
    background-color: #000;
  }

  /* footer */
  .footer__content,
  .footer__right-side {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__nav {
    margin-bottom: 20px;
    width: 70%;
  }

  .footer__rights {
    justify-content: center;
  }

  .footer__yem {
    margin-left: 10px;
    margin-right: 0;
  }

  .footer__btn--tablet {
    margin-top: 20px;
  }
}

@media (max-width: 320px) {
  .container--map {
    margin: 0 calc((5% - 640px) / 2);
  }

  /* map */
  .map__item--alligator {
    left: 360px;
  }

  .map__mark-alligator {
    left: 340px;
  }

  .map__mark-gorilla {
    left: 619px;
  }

  .map__usa {
    left: 281px;
  }

  .map__drc {
    left: 521px;
  }

  /* footer */
  .footer__logo {
    margin-bottom: 45px;
    order: 0;
  }

  .footer__nav {
    margin-right: 0;
    margin-bottom: 45px;
    display: flex;
    order: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__nav--first {
    margin-bottom: 15px;
  }

  .footer__media {
    order: 3;
  }

  .footer__btn {
    margin-bottom: 50px;
    display: block;
    order: 2;
  }

  .footer__btn {
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer__btn--tablet {
    display: none;
  }

  .footer__rights {
    justify-content: space-between;
  }

  .footer__rights-info {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__copyright {
    max-width: 205px;
  }

  .footer__copyright-and {
    display: none;
  }
}
