@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.eot");
  src: local("☺"), url("../../assets/fonts/Roboto-Regular.woff") format("woff"),
    url("../../assets/fonts/Roboto-Regular.ttf") format("truetype"),
    url("../../assets/fonts/Roboto-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Medium.eot");
  src: local("☺"), url("../../assets/fonts/Roboto-Medium.woff") format("woff"),
    url("../../assets/fonts/Roboto-Medium.ttf") format("truetype"),
    url("../../assets/fonts/Roboto-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Black.eot");
  src: local("☺"), url("../../assets/fonts/Roboto-Black.woff") format("woff"),
    url("../../assets/fonts/Roboto-Black.ttf") format("truetype"),
    url("../../assets/fonts/Roboto-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SceneW01-Black";
  src: url("../../assets/fonts/Roboto-Black.eot");
  src: local("☺"), url("../../assets/fonts/SceneW01-Black.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #a7e1ff;
}

.container {
  margin: 0 auto;
  width: 1160px;
}

.btn {
  padding-top: 15px;
  padding-right: 60px;
  padding-bottom: 15px;
  padding-left: 60px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  background-color: #70cb0e;
  transition: all ease-out 0.3s;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 30px #ffc800;
}

.link {
  text-decoration: underline;
  color: #267bde;
  cursor: pointer;
}

/* Header */
.container--header {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 57px;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 35px;
  transition: all ease-out 0.2s;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-item:hover {
  transform: translate(0px, -2px);
}

.header__nav-link {
  font-size: 18px;
  font-weight: 500;
}

.header__nav-item--active:hover {
  transform: none;
}

.header__nav-item--active > .header__nav-link {
  text-shadow: 0px 0px 3px #70cb0e;
  cursor: default;
}


/* footer */
.footer {
  padding-top: 80px;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
  font-size: 18px;
  line-height: 21px;
  background-color: #dff5b0;
}

.footer__content {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.footer__left-side {
  display: flex;
  align-items: flex-start;
}

.footer__logo {
  margin-right: 100px;
}

.footer__btn {
  padding-left: 28px;
  padding-right: 28px;
}

/* ---------------------- */
.footer__right-side {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 45%;
}

.footer__nav-item {
  transition: all ease-out 0.3s;
}

.footer__nav-item:hover {
  transform: translate(0px, -2px);
}

.footer__nav-item:first-child {
  margin-bottom: 15px;
}

/* ---------------------- */
.footer__media {
  display: flex;
}

.footer__media-item {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all ease-out 0.3s;
}

.footer__media-item:hover {
  transform: translate(0px, -10px);
}

.footer__media-item:first-child {
  margin-left: 0;
}

.footer__facebook {
  background-image: url("../../assets/icons/facebook.svg");
}

.footer__instagram {
  background-image: url("../../assets/icons/insta.svg");
}

.footer__twitter {
  background-image: url("../../assets/icons/twitter.svg");
}

.footer__youtube {
  background-image: url("../../assets/icons/youtube.svg");
}

/* ---------------------- */
.footer__rights {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.footer__rss {
  margin-right: 50px;
}

.footer__yem {
  margin-right: 70px;
}

/* ---------------------- */
.footer__bg {
  margin-left: -950px;
  position: absolute;
  top: -20px;
  left: 50%;
  z-index: -1;
}
