@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.eot");
  src: local("☺"), url("../../assets/fonts/Roboto-Regular.woff") format("woff"),
    url("../../assets/fonts/Roboto-Regular.ttf") format("truetype"),
    url("../../assets/fonts/Roboto-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Medium.eot");
  src: local("☺"), url("../../assets/fonts/Roboto-Medium.woff") format("woff"),
    url("../../assets/fonts/Roboto-Medium.ttf") format("truetype"),
    url("../../assets/fonts/Roboto-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Black.eot");
  src: local("☺"), url("../../assets/fonts/Roboto-Black.woff") format("woff"),
    url("../../assets/fonts/Roboto-Black.ttf") format("truetype"),
    url("../../assets/fonts/Roboto-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SceneW01-Black";
  src: url("../../assets/fonts/Roboto-Black.eot");
  src: local("☺"), url("../../assets/fonts/SceneW01-Black.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #000;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
}

.top-wrapper {
  width: 100%;
  background: no-repeat center url(../../assets/images/favorite-animal__bg.jpg);
  background-size: cover;
}

.center-sections {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.center-sections ~ .center-sections {
  /* избежать схлопывания margin */
  margin-top: 200px;
}

.title-h3 {
  margin-bottom: 80px;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 47px;
}

.btn {
  padding-top: 15px;
  padding-right: 60px;
  padding-bottom: 15px;
  padding-left: 60px;
  font-size: 1.125rem;
  border: none;
  border-radius: 30px;
  background-color: #70cb0e;
  transition: all ease-out 0.3s;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 30px #ffc800;
}

.link {
  text-decoration: underline;
  color: #267bde;
  cursor: pointer;
}

/* slider */
.slider {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.slider__arrow {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background: no-repeat 45% url(../../assets/icons/slider-arrow.svg);
  background-color: #ffe68e;
  transition: all ease-out 0.3s;
  cursor: pointer;
}

.slider__arrow:hover {
  box-shadow: 0 0 10px #70cb0e;
}

.slider__arrow--prev {
  margin-right: 21px;
}

.slider__arrow--next {
  margin-left: 21px;
  transform: rotateY(180deg);
}

.slider__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.slider__item {
  position: relative;
  display: flex;
  justify-content: center;
  transition: all ease-out 0.3s;
  cursor: pointer;
}

.slider__item:hover {
  transform: scale(1.07, 1.09);
}

.slider__description {
  position: absolute;
  top: 15px;
  width: 100%;
  text-align: center;
  color: #fff;
  transition: all ease-out 0.3s;
}

.slider__item:hover .slider__description {
  font-size: 1.125rem;
}

.slider__img {
  width: 100%;
  object-fit: cover;
}

/* Header */
.header {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 57px;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 35px;
  transition: all ease-out 0.2s;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-item:hover {
  transform: translate(0px, -2px);
}

.header__nav-link {
  font-size: 1.125rem;
  font-weight: 500;
}

.header__nav-item--active:hover {
  transform: none;
}

.header__nav-item--active > .header__nav-link {
  text-shadow: 0px 0px 3px #70cb0e;
  cursor: default;
}

.header__burger {
  display: none;
}

/* favorite-animal */
.favorite-animal {
  margin-top: 127px;
  padding-bottom: 137px;
  max-width: 570px;
}

.favorite-animal__main-title {
  position: absolute;
  text-transform: capitalize;
  z-index: -100;
}

.favorite-animal__title {
  margin-bottom: 50px;
  font-family: "SceneW01-Black", sans-serif;
  font-size: 4.375rem;
  line-height: 84px;
  letter-spacing: 0.03em;
}

.favorite-animal__caps {
  text-transform: uppercase;
}

.favorite-animal__btn {
  padding-left: 111px;
  padding-right: 88px;
}

.favorite-animal__link {
  position: relative;
  font-size: 18px;
  line-height: 21px;
}

.favorite-animal__link::before {
  position: absolute;
  display: block;
  content: "";
  left: -20px;
  border: 8px solid transparent;
  border-left: 15px solid #000;
}

/* how-works */
.how-works {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.how-works__gallery {
  margin-bottom: 77px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1350px;
  height: 452px;
}

.how-works__bg {
  position: absolute;
  right: 0;
  z-index: -1;
}

.how-works__text {
  max-width: 937px;
  text-align: center;
  line-height: 21px;
}

.how-works__card {
  position: absolute;
  top: 11%;
  width: 250px;
  height: 350px;
  z-index: 0;
}

.how-works__card:nth-child(2) {
  left: -1%;
}

.how-works__card:nth-child(3) {
  left: 18%;
}

.how-works__card:nth-child(5) {
  right: 20%;
}

.how-works__card:last-child {
  right: 1%;
}

.how-works__card--middle {
  transform: scale(1.15);
  z-index: 1;
}

.how-works__card--active {
  left: 50%;
  margin-left: -140px;
  transform: scale(1.29);
  z-index: 2;
}

.how-works__img {
  height: 100%;
}

/* pets */
.pets {
  text-align: center;
}

.pets__slider .slider__content {
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px 20px;
}

.slider__item {
  cursor: pointer;
}

.pets__slider .slider__item {
  height: 300px;
}

/* pay-feed */
.pay-feed {
  position: relative;
}

.pay-feed__steps {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 45px;
}

.pay-feed__item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pay-feed__card {
  margin-bottom: 45px;
  position: relative;
  width: 100%;
}

.pay-feed__bg {
  position: absolute;
  top: -15%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.pay-feed__text {
  max-width: 320px;
}

.pay-feed__arrow {
  position: absolute;
  display: block;
  content: "";
  transition: all linear .3s;
}

.pay-feed__arrow--top {
  width: 205px;
  height: 100px;
  top: 30%;
  left: 26%;
  background: no-repeat center url(../../assets/icons/pay-feed__arrow.svg);
}

.pay-feed__arrow--bottom {
  width: 205px;
  height: 100px;
  bottom: 12%;
  right: 24%;
  background: no-repeat center url(../../assets/icons/pay-feed__arrow--bottom.svg);
}

/* testimonials */
.testimonials__slider .slider__content {
  grid-template-rows: 1fr;
  grid-gap: 20px;
}

.slider__item--testimonials {
  padding-top: 22px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  max-width: 233px;
  height: 370px;
  line-height: 120%;
  text-align: left;
  background-color: #a7e1ff;
}

.profile {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.profile__avatar {
  margin-right: 10px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.profile__money {
  margin-left: 15px;
  position: relative;
  font-size: 0.75rem;
}

.profile__money::before {
  position: absolute;
  display: block;
  content: "";
  left: -15px;
  bottom: 3px;
  width: 8px;
  height: 8px;
  border: 2px solid #000;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #ffb600;
  background-color: #ffb600;
}

/* footer */
.footer {
  padding-top: 80px;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
  font-size: 1.125rem;
  line-height: 21px;
  background-color: #dff5b0;
}

.footer__content {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.footer__left-side {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__btn {
  margin-right: 50px;
  padding-left: 28px;
  padding-right: 28px;
  max-height: 50px;
}

.footer__btn--tablet {
  display: none;
}

/* ---------------------- */
.footer__right-side {
  display: flex;
  justify-content: space-between;
  width: 49%;
}

.footer__nav {
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.footer__nav-item {
  transition: all ease-out 0.3s;
}

.footer__nav-item:hover {
  transform: translate(0px, -2px);
}

.footer__nav-item:first-child {
  margin-bottom: 15px;
}

/* ---------------------- */
.footer__media {
  display: flex;
}

.footer__media-item {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all ease-out 0.3s;
}

.footer__media-item:hover {
  transform: translate(0px, -10px);
}

.footer__media-item:first-child {
  margin-left: 0;
}

.footer__facebook {
  background-image: url("../../assets/icons/facebook.svg");
}

.footer__instagram {
  background-image: url("../../assets/icons/insta.svg");
}

.footer__twitter {
  background-image: url("../../assets/icons/twitter.svg");
}

.footer__youtube {
  background-image: url("../../assets/icons/youtube.svg");
}

/* ---------------------- */
.footer__rights {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.footer__rights-info {
  display: flex;
  justify-content: space-between;
  width: 68%;
}

.footer__yem {
  margin-right: 10px;
}

/* ---------------------- */
.footer__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -20px;
  z-index: -1;
}


/* modals*/
.modals__content {
  margin-right: 80px;
  margin-left: 80px;
}

.modals__content--feedback {
  margin-top: 10px;
  margin-bottom: 50px;
}

.form {
  width: 100%;
  text-align: center;
}

.form:invalid .modals__btn {
  background-color: #e7d2b7;
  cursor: not-allowed;
}

.form:invalid .modals__btn:hover {
  box-shadow: none;
}

.form__item {
  margin-bottom: 8px;
  padding: 10px;
  width: 100%;
  border: 1px solid #9ca498;
}

.form__item--colored {
  background-color: #dff5b0;
}

.form__item:-webkit-autofill {
  background-color: #dff5b0;
}

.form__item--feedback {
  margin-bottom: 0;
  height: 180px;
  resize: none;
}

.modals__btn {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modals__feedback-btn {
  margin-top: 15px;
}

/* ---------------------------- */
.modals__header--donate {
  margin-bottom: 18px;
}

.form__item-list {
  padding: 8px;
  text-align-last: center;
  appearance: none;
  background: no-repeat 98% url("../assets/icons/arrow.svg");
  background-color: #dff5b0;
}

select option {
  text-align: center;
  margin-top: 12px;
}

.form__money {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__donate-sum {
  margin-right: 8px;
  width: 65%;
  line-height: 19px;
}

.form__currency {
  padding: 10px;
  width: 35%;
  text-align-last: center;
  appearance: none;
  text-transform: uppercase;
  border: 1px solid #9ca498;
  cursor: pointer;
}

.form__item--text-donate {
  margin-bottom: 0;
  height: 85px;
  resize: none;
}

/* ----------------------------- */
.modals__content--pay {
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 40px;
}

.modals__header--pay {
  margin-bottom: 10px;
}

.modals__content--pay .form__item::-webkit-inner-spin-button,
.modals__content--pay .form__item::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.modals__content--pay .form__item:focus::-webkit-input-placeholder {
  visibility: hidden;
}

.form__card {
  width: 358px;
  height: 203px;
  border-radius: 10px;
  background-color: #dcdcdc;
}

.form__cards-wrapper {
  position: relative;
  padding-bottom: 36px;
}

.form__card-front {
  position: relative;
  padding-top: 35px;
  padding-right: 26px;
  padding-bottom: 35px;
  padding-left: 26px;
  display: flex;
  flex-wrap: wrap;
  z-index: 101;
}

.form__card-underside {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 326px;
  height: 189px;
  background-color: #c6c5c5;
  z-index: 100;
}

.form__card-underside::before {
  position: absolute;
  display: block;
  content: "";
  top: 28px;
  left: 0;
  width: 100%;
  height: 37px;
  background-color: #a8a8a8;
}

.modals__content--pay .form__item {
  width: 100%;
}

.form__central-item {
  position: relative;
  text-align: center;
  z-index: 101;
}

.modals__content--pay .form__short-item {
  margin-right: 5px;
  width: 80px;
}

.form__cvv {
  position: absolute;
  width: 100%;
  height: 35px;
  top: 73px;
  background: linear-gradient(180deg, rgba(168, 168, 168, 1) 0%, 
                                      rgba(168, 168, 168, 1) 14.2%,
                                      rgba(0,0,0,0) 14.2%,
                                      rgba(0,0,0,0) 28.4%,
                                      rgba(168, 168, 168, 1) 28.4%,
                                      rgba(168, 168, 168, 1) 42.6%,
                                      rgba(0,0,0,0) 42.6%,
                                      rgba(0,0,0,0) 56.8%,
                                      rgba(168, 168, 168, 1) 56.8%,
                                      rgba(168, 168, 168, 1) 71%,
                                      rgba(0,0,0,0) 71%,
                                      rgba(0,0,0,0) 85.2%,
                                      rgba(168, 168, 168, 1) 85.2%,
                                      rgba(168, 168, 168, 1) 100%);
}

.modals__content--pay .form__cvv-item {
  position: absolute;
  margin-bottom: 0;
  padding: 8px;
  width: 75px;
  right: 36px;
}

/*adaptive*/
@media (max-width: 1400px) {

  /* how-works */
  .how-works__gallery {
    width: 100%;
  }
}

@media (max-width: 1199px) {

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* how-works */
  .how-works__card:nth-child(2) {
    left: 0;
  }

  .how-works__card:nth-child(3) {
    left: 17%;
  }

  .how-works__card:nth-child(5) {
    right: 19%;
  }

  .how-works__card:last-child {
    right: 1%;
  }

  .how-works__card--middle {
    transform: scale(1.15);
    z-index: 1;
  }

  /* slider*/
  .slider {
    flex-wrap: wrap;
    justify-content: center;
  }

  .slider__content {
    margin-bottom: 30px;
    overflow: hidden;
    order: 1;
  }

  .testimonials__slider .slider__content {
    width: 100%;
  }

  .slider__arrow--prev {
    margin-right: 0;
    order: 2;
  }

  .slider__arrow--next {
    order: 3;
  }

  /* pay-feed */
  .pay-feed__arrow {
    transform: scale(0.8);
  }

  .pay-feed__arrow--top {
    top: 30%;
    left: 25%;
  }

  .pay-feed__arrow--bottom {
    bottom: 15%;
    right: 23%;
  }

}

@media (max-width: 992px) {

  /* pay-feed */
  .pay-feed__arrow--top {
    top: 25%;
    left: 25%;
  }

  .pay-feed__arrow--bottom {
    bottom: 12%;
    right: 21%;
  }

  .slider__item--testimonials {
    height: auto;
  }

  /* footer */
  .footer__content {
    flex-wrap: wrap;
  }    

  .footer__btn {
    margin-right: 10px;
  }

}

@media (max-width: 768px) {

  /* testimonials */
  .testimonials__slider .slider__content {
    grid-template-columns: repeat(4, 31%);
  }

  /* footer */
  .footer__content {
    margin-bottom: 50px;
  }

  .footer__btn {
    display: none;
  }

  .footer__btn--tablet {
    margin: 0;
    padding-left: 17px;
    padding-right: 17px;
    display: block;
  }

  .footer__logo {
    margin-right: 10px;
  }

  .footer__right-side {
    width: 75%;
  }

  .footer__nav {
    width: 32%;
  }

  .footer__rights {
    flex-wrap: wrap;
    text-align: center;
  }

  .footer__rights-info {
    margin-top: 50px;
    flex-wrap: wrap;
    width: 100%;
  }

  .footer__author {
    margin-bottom: 10px;
    order: 1;
    width: 100%;
  }

  .footer__copyright {
    order: 2;
    width: 100%;
  }

}

@media (max-width: 640px) {

  .main {
    overflow: hidden;
  }

  /* header */
  .header__logo {
    margin-right: 50px;
  }

  /* slider Pets in zoo*/
  .slider__content {
    grid-template-columns: repeat(4, 31%);
  }

  /* header */
  .header__nav-list {
    flex-wrap: wrap;
  }

  /* favorite-animal */
  .favorite-animal {
    margin-top: 65px;
    padding-bottom: 270px;
  }

  .favorite-animal__title {
    max-width: 414px;
    font-size: 3.125rem;
    line-height: 120%;
  }

  .favorite-animal__btn {
    padding-left: 88px;
    padding-right: 60px;
  }

  /* how-works */
  .how-works {
    padding-bottom: 90px;
  }

  .how-works__gallery {
    width: 1200px;
  }

  .how-works__text {
    max-width: 536px;
    line-height: 1.3rem;
  }

  /* pay-feed */
  .pay-feed__title {
    margin-bottom: 100px;
  }

  .pay-feed__steps {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;
  }

  .pay-feed__item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 45%;
  }

  .pay-feed__card {
    margin-bottom: 40px;
    width: 100%;
  }

  .pay-feed__text {
    max-width: 192px;
  }

  .pay-feed__arrow {
    position: absolute;
    display: block;
    content: "";
    transform: none;
  }

  .pay-feed__arrow--top {
    width: 195px;
    height: 80px;
    top: 17%;
    left: 36%;
    background: no-repeat center url(../../assets/icons/pay-feed__arrow-640.svg);
  }

  .pay-feed__arrow--bottom {
    width: 150px;
    height: 260px;
    bottom: 21%;
    right: 7%;
    background: no-repeat center url(../../assets/icons/pay-feed__arrow--bottom-640.svg);
  }

  /* testimonials */
  .slider__item--testimonials {
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 30px;
  }

  .profile {
    align-items: flex-start;
  }

  .testimonials__btn {
    padding-right: 50px;
    padding-left: 50px;
  }

}

@media (max-width: 576px) {

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container--header {
    justify-content: space-between;
  }

    /* slider */
  .slider__content {
    grid-template-columns: repeat(4, 50%);
}

  /* header */
  .header {
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    margin-right: 30px;
  }

  .header__nav-list {
    display: none;
  }

  .header__nav-item {
    margin-bottom: 5px;
  }
  
  .header__burger {
    margin-bottom: 10px;
    position: relative;
    display: block;
    width: 36px;
    height: 2px;
    background-color: #000;
    cursor: pointer;
  }

  .header__burger::before {
    position: absolute;
    display: block;
    content: "";
    top: -10px;
    width: 36px;
    height: 2px;
    background-color: #000;
  }


  .header__burger::after {
    position: absolute;
    display: block;
    content: "";
    bottom: -10px;
    width: 36px;
    height: 2px;
    background-color: #000;
  }

  /* pay-feed */
  .pay-feed__item {
    margin-bottom: 85px;
    width: 70%;
  }

  .pay-feed__item:last-child {
    margin-bottom: 0;
  }

  .pay-feed__arrow {
    width: 15px;
    height: 75px;
    background: no-repeat center url(../../assets/icons/pay-feed__arrow-320.svg);
  }

  .pay-feed__arrow--top {
    top: 37%;
    left: 47%;
  }

  .pay-feed__arrow--bottom {
    bottom: 24%;
    right: 48%;
  }

  /* testimonials */
  .testimonials__slider .slider__content {
    grid-template-columns: repeat(4, 50%);
    grid-column-gap: 5px;
  }

  .slider__item--testimonials {
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 20px;
  }

  .profile {
    flex-direction: column;
  }

  /* footer */
  .footer__content,
  .footer__right-side {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__nav {
    margin-bottom: 20px;
    width: 100%;
  }

  .footer__rights {
    justify-content: center;
  }

  .footer__yem {
    margin-left: 10px;
    margin-right: 0;
  }

  .footer__btn--tablet {
    margin-top: 20px;
  }

}

@media (max-width: 320px) {

  /* slider */
  .slider__content {
    grid-template-columns: repeat(4, 47%);
  }

  .slider__description {
    max-width: 78px;
    top: 11px;
  }

  .slider__item--panda {
    order: 1;
  }

  .slider__item--alligator {
    order: 2;
  }

  .slider__item--bear {
    order: 3;
  }

  .slider__item--elephant {
    order: 4;
  }

  .slider__item--gorilla {
    order: 5;
  }

  .slider__item--eagle {
    order: 6;
  }

  .slider__item--owl{
    order: 7;
  }

  .slider__item--penguin {
    order: 8;
  }


  /* how-works */
  .how-works__card:last-child {
    display: none;
  }

  .how-works__card {
    display: flex;
    justify-content: center;
    transform: scale(0.6);
    border: 1px solid #fff;
    overflow: hidden;
  }

  .how-works__card:nth-child(3),
  .how-works__card:nth-child(5) {
    transform: scale(0.63);
  }

  .how-works__card:nth-child(2) {
    top: -8%;
    left: 44%;
    z-index: 2;
  }

  .how-works__card:nth-child(3) {
    top: -15%;
    left: 34%;
    z-index: 1;
  }

  .how-works__card:nth-child(4) {
    top: 30%;
    left: 47%;
    z-index: 3;
  }

  .how-works__card:nth-child(5) {
    top: 36%;
    left: 45%;
  }

  /* favorite-animal */
  .favorite-animal {
    padding-bottom: 150px;
  }

  .favorite-animal__title {
    max-width: 220px;
  }

  .favorite-animal__btn {
    padding-left: 105px;
    padding-right: 80px;
  }

  /* how-works */
  .how-works {
    padding-bottom: 80px;
  }

  .how-works__text {
    max-width: 280px;
  }

  /* pets */
  .pets__btn {
    padding-right: 65px;
    padding-left: 65px;
  }

  /* pay-feed */
  .pay-feed__title {
    margin-bottom: 80px;
  }

  /* testimonials */
  .testimonials__slider .slider__content {
    grid-template-columns: 100% 100%;
    grid-column-gap: 5px;
  }

  .slider__item--testimonials {
    max-width: 100%;
  }

  .slider__item--testimonials:nth-child(2) {
    order: 3;
  }

  .slider__item--testimonials:nth-child(3) {
    order: 4;
  }

  .slider__item--testimonials {
    padding-top: 22px;
    padding-right: 20px;
    padding-bottom: 22px;
  }

  .profile {
    flex-direction: row;
  }

  /* footer */
  .footer__logo {
    margin-bottom: 50px;
    order: 0;
  }

  .footer__nav {
    margin-right: 0;
    margin-bottom: 45px;
    display: flex;
    order: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__nav--first {
    margin-bottom: 15px;
  }

  .footer__media {
    order: 3;
  }

  .footer__btn {
    margin-bottom: 50px;
    display: block;
    order: 2;
  }

  .footer__btn {
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer__btn--tablet {
    display: none;
  }
  
  .footer__rights {
    justify-content: space-between;
  }

  .footer__rights-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__copyright {
    max-width: 205px;
  }

  .footer__copyright-and {
    display: none;
  }

}
