@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.eot");
  src: local("☺"), url("../../assets/fonts/Roboto-Regular.woff") format("woff"),
    url("../../assets/fonts/Roboto-Regular.ttf") format("truetype"),
    url("../../assets/fonts/Roboto-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Medium.eot");
  src: local("☺"), url("../../assets/fonts/Roboto-Medium.woff") format("woff"),
    url("../../assets/fonts/Roboto-Medium.ttf") format("truetype"),
    url("../../assets/fonts/Roboto-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Black.eot");
  src: local("☺"), url("../../assets/fonts/Roboto-Black.woff") format("woff"),
    url("../../assets/fonts/Roboto-Black.ttf") format("truetype"),
    url("../../assets/fonts/Roboto-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SceneW01-Black";
  src: url("../../assets/fonts/Roboto-Black.eot");
  src: local("☺"), url("../../assets/fonts/SceneW01-Black.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000;
}

.container {
  margin: 0 auto;
  width: 1160px;
}

.top-wrapper {
  background-size: cover;
  background-image: url(../../assets/images/favorite-animal__bg.jpg);
}

.title-h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
}

.btn {
  padding-top: 15px;
  padding-right: 60px;
  padding-bottom: 15px;
  padding-left: 60px;
  border: none;
  border-radius: 30px;
  background-color: #70cb0e;
}

.link {
  text-decoration: underline;
  color: #267bde;
  cursor: pointer;
}

/* Header */
.header {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 57px;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 35px;
  transition: all ease-out 0.2s;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-item:hover {
  transform: translate(0px, -2px);
}

.header__nav-link {
  font-size: 18px;
  font-weight: 500;
}

.header__nav-item--active:hover {
  transform: none;
}

.header__nav-item--active > .header__nav-link {
  text-shadow: 0px 0px 3px #70cb0e;
  cursor: default;
}

/* favorite-animal */
.favorite-animal {
  margin-top: 127px;
  padding-bottom: 137px;
  max-width: 570px;
}

.favorite-animal__main-title {
  position: absolute;
  text-transform: capitalize;
  z-index: -100;
}

.favorite-animal__title {
  margin-bottom: 50px;
  font-family: "SceneW01-Black", sans-serif;
  font-size: 70px;
  line-height: 84px;
  letter-spacing: 0.03em;
}

.favorite-animal__caps {
  text-transform: uppercase;
}

.favorite-animal__btn {
  padding-left: 111px;
  padding-right: 88px;
}

.favorite-animal__link {
  position: relative;
  font-size: 18px;
  line-height: 21px;
}

.favorite-animal__link::before {
  position: absolute;
  display: block;
  content: "";
  left: -20px;
  border: 8px solid transparent;
  border-left: 15px solid #000;
}

/* how-works */
.how-works {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.how-works__title {
  margin-bottom: 80px;
}

.how-works__gallery {
  margin-bottom: 77px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1350px;
}

.how-works__bg {
  position: absolute;
  top: -50px;
  right: 0;
  z-index: -1;
}

.how-works__text {
  max-width: 937px;
  text-align: center;
  line-height: 21px;
}

.how-works__card {
  width: 250px;
  height: 350px;
  z-index: 0;
}

.how-works__card--middle {
  transform: scale(1.15);
  z-index: 1;
}

.how-works__card--active {
  transform: scale(1.29);
  z-index: 2;
}

.how-works__img {
  height: 100%;
}
